body {
  margin: 0px;
}

.home {
  /* background-image: 'https://media2.giphy.com/media/bJ4TVNYNUympPgcpem/giphy.gif'; */
  color: white;
  font-size: 100px;
  margin-top: -600px;
}

.registerImage {
  width: 1000px;
  height: 300px;
  margin-left: 500px;
}
